name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: ./go.mod
    - name: Run tests
      run: go test -v -race -coverprofile=coverage.out ./...
    - name: Display coverage
      run: go tool cover -func=coverage.out
